/* ================================================== SASS Variables ========================================== */
/*Variables de Media*/
/*Medias*/
$mobile: "only screen and (max-width : 500px)";
$small-tablet:"only screen and (max-width : 600px)";
$small-tablet-750:"only screen and (max-width :750px)";
$small-tablet-767:"only screen and (max-width :767px)";
$tablet: "only screen and (max-width : 790px)";
$tablet-990: "only screen and (max-width :990px)";
$tablet-min-990: "only screen and (min-width:991px)";
//site colors
// Variables new
$black: #272727;
$black-claro:#3e3e3e;
$black-escuro:#494949;
$cinza-868686:#868686;
$red: #cb2212;
$white: #fff;
$blue:#3687d9;
/* ================================================== // ====================================================== */